{% if item.category %}
  {% assign url = item.asset %}
  {% unless url contains "https://" %}
    {% assign url = "/assets/" | append: url %}
  {% endunless %}
{% else %}
  {% assign url = item.url %}
  {% if item.external %}
    {% assign url = item.external %}
  {% endif %}
{% endif %}

<article class="d-block mb-3 pb-4">
  <a href="{{ url }}" {% if item.external %}target="_blank"{% endif %}>{{ item.title }}</a>
  <br/>
  <span class="text-secondary font-poppins fs-7">{{ item.outlet }} | {{ item.tags | join: ", " }} |
    {% include date.html date=item.date format = "%b %Y" %}</span>
</article>
