<section id="reachout" class="row justify-content-center">
  <div class="col-12 col-md-8 col-lg-6">
    <h2 class="h1 text-center text-md-start d-block mb-3">The time is now—reach out to learn more</h2>
  </div>
</section>

<svg class="position-absolute">
  <clipPath id="path-contact-start" clipPathUnits="objectBoundingBox">
    <path
      d="M0.041,0.125 C0.043,0.092,0.066,0.066,0.096,0.063 L0.878,0 C0.91,-0.003,0.939,0.024,0.941,0.06 L1,0.929 C1,0.967,0.977,1,0.942,1 H0.061 C0.027,1,0,0.968,0.002,0.931 L0.041,0.125"
    ></path>
  </clipPath>
</svg>

<svg class="position-absolute">
  <clipPath id="path-contact-end" clipPathUnits="objectBoundingBox">
    <path
      d="M0.004,0.075 C0,0.034,0.029,0,0.066,0.002 L0.947,0.051 C0.979,0.052,1,0.081,1,0.116 V0.936 C1,0.973,0.977,1,0.944,1 H0.147 C0.117,1,0.091,0.977,0.088,0.943 L0.004,0.075"
    ></path>
  </clipPath>
</svg>

<section class="row justify-content-md-center mt-5 mb-5 pb-5 align-content-stretch">
  <div class="col-12 col-md-4">
    <div class="background-calitp-blue pt-3 pt-md-5 px-3 text-center clipped-contact-start">
      <picture
        ><img
          src="/images/connect.png"
          alt="Two thought bubbles with dashes of various lengths, meant to represent words in a conversation"
          width="105"
      /></picture>
      <h3 class="text-white d-block my-4">Connect with Cal-ITP</h3>
      <span class="text-white"
        >Drop us a line at
        <a rel="noreferrer" target="_blank" class="fw-bolder text-white" href="mailto:hello@calitp.org">hello@calitp.org</a>
        to:</span
      >
      <ul class="text-center mb-4 ms-2 ms-md-4 ms-lg-5">
        <li class="text-white text-start">get more information</li>
        <li class="text-white text-start">request technical assistance</li>
        <li class="text-white text-start">meet our Customer Success team</li>
      </ul>
    </div>
  </div>
  <div class="col-md-auto">&nbsp;</div>
  <div class="col-12 col-md-4">
    <div class="background-calitp-blue pt-3 pt-md-5 px-md-5 px-3 pt-2 text-center clipped-contact-end">
      <picture
        ><img
          src="/images/stay-up-to-date.png"
          alt="A bus nearly surrounded by a semicircular arrow, meant to indicate that transit content is being refreshed"
          width="86"
      /></picture>
      <h3 class="text-white d-block my-4">Stay up to date</h3>
      <p class="text-white text-start ps-lg-3">
        See our latest milestones on our
        <a class="text-white fw-bolder" href="/press">Press page</a>, and subscribe to the
        <a
          class="text-white fw-bolder"
          href="https://lp.constantcontactpages.com/su/eLbtFoE/calitp?website"
          rel="noreferrer"
          target="_blank"
          >Caltrans Mobility Newsletter</a
        >, a free biweekly resource with frequent Cal-ITP project updates.
      </p>
    </div>
  </div>
</section>
