<section class="bg-dark navbar d-print-none">
  <footer class="container">
    <nav class="col-12">
      <ul class="list-unstyled row row-column gap-md-4 my-3 my-md-0">
        <li class="col-md-auto col-6 mb-1 mb-md-0">
          <a
            class="fw-normal text-decoration-none text-white"
            rel="noreferrer"
            href="#">Back to top</a>
        </li>
        <li class="col-md-auto col-6 mb-1 mb-md-0">
          <a
            class="fw-normal text-decoration-none text-white"
            rel="noreferrer"
            target="_blank"
            href="https://dot.ca.gov/privacy-policy">Privacy policy</a>
        </li>
        <li class="col-md-auto col-12 my-1 my-md-0">
          <a
            class="fw-normal text-decoration-none text-white"
            rel="noreferrer"
            target="_blank"
            href="https://www.ca.gov/use/">Conditions of use</a>
        </li>
        <li class="col-md-auto col-12 my-1 my-md-0">
          <a
            class="fw-normal text-decoration-none text-white"
            rel="noreferrer"
            target="_blank"
            href="https://registertovote.ca.gov/">Register to vote</a>
        </li>
      </ul>
    </nav>
  </footer>
</section>
