<section class="bg-dark navbar">
  <footer class="container d-flex flex-wrap align-content-center">
    <nav class="row">
      <ul class="col-12 links list-unstyled d-flex flex-md-row flex-wrap justify-content-between gap-md-4 my-0 py-2 flex-column gap-1">
        <li>
          <a
            class="fw-normal text-decoration-none text-white"
            rel="noreferrer"
            href="#">Back to top</a>
        </li>
        <li>
          <a
            class="fw-normal text-decoration-none text-white"
            rel="noreferrer"
            target="_blank"
            href="https://dot.ca.gov/privacy-policy">Privacy policy</a>
        </li>
        <li>
          <a
            class="fw-normal text-decoration-none text-white"
            rel="noreferrer"
            target="_blank"
            href="https://www.ca.gov/use/">Conditions of use</a>
        </li>
        <li>
          <a
            class="fw-normal text-decoration-none text-white"
            rel="noreferrer"
            target="_blank"
            href="https://registertovote.ca.gov/">Register to vote</a>
        </li>
      </ul>
    </nav>
  </footer>
</section>
