<footer>
  <nav>
    <ul class="links">
      <li>
        <a rel="noreferrer" href="#">Back to top</a>
      </li>
      <li>
        <a
          rel="noreferrer"
          target="_blank"
          href="https://dot.ca.gov/privacy-policy">Privacy policy</a>
      </li>
      <li>
        <a
          rel="noreferrer"
          target="_blank"
          href="https://www.ca.gov/use/">Conditions of use</a>
      </li>
      <li>
        <a
          rel="noreferrer"
          target="_blank"
          href="https://registertovote.ca.gov/">Register to vote</a>
      </li>
    </ul>
  </nav>
</footer>
