<header>
  <nav class="navbar navbar-expand-lg fixed-top bg-white" aria-label="Navigation">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img
          src="/images/cal-itp-logo.svg"
          alt="Cal-ITP: California Integrated Travel Project"
          width="119" />
      </a>
      <button
        class="navbar-toggler collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#mainNav"
        aria-controls="mainNav"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse justify-content-end" id="mainNav">
        <ul class="navbar-nav mb-0">
          <li class="nav-item">
            <a
              class="h4 mb-0 nav-link active"
              aria-current="page"
              href="#">About the project</a>
          </li>
          <li class="nav-item">
            <a class="h4 mb-0 nav-link" href="#">Resources</a>
          </li>
          <li class="nav-item">
            <a class="h4 mb-0 nav-link" href="/press">Press</a>
          </li>
          <li class="nav-item">
            <a class="h4 mb-0 nav-link" href="#">Reach out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
