<svg class="position-absolute d-none d-lg-block">
  <clipPath id="path-home-stat-1" clipPathUnits="objectBoundingBox">
    <path
      d="M0.002,0.922 C0.001,0.953,0.023,0.979,0.052,0.98 L0.949,1 C0.978,1,1,0.977,1,0.945 L0.982,0.102 C0.982,0.072,0.96,0.049,0.933,0.047 L0.082,0.003 C0.054,0.001,0.029,0.025,0.028,0.057 L0.002,0.922"
    ></path>
  </clipPath>
</svg>

<svg class="position-absolute d-none d-lg-block">
  <clipPath id="path-home-stat-2" clipPathUnits="objectBoundingBox">
    <path
      d="M0.002,0.082 C0.001,0.051,0.023,0.025,0.052,0.024 L0.949,0.001 C0.978,0.001,1,0.027,1,0.059 L0.982,0.902 C0.982,0.932,0.96,0.955,0.933,0.957 L0.082,1 C0.054,1,0.029,0.979,0.028,0.947 L0.002,0.082"
    ></path>
  </clipPath>
</svg>
<svg class="position-absolute d-none d-lg-block">
  <clipPath id="path-home-stat-3" clipPathUnits="objectBoundingBox">
    <path
      d="M1,0.082 C1,0.051,0.978,0.025,0.95,0.024 L0.053,0.001 C0.023,0.001,-0.001,0.027,0,0.059 L0.02,0.902 C0.02,0.932,0.042,0.955,0.069,0.957 L0.919,1 C0.948,1,0.972,0.979,0.973,0.947 L1,0.082"
    ></path>
  </clipPath>
</svg>

<div class="row d-flex justify-content-center">
  <div class="col-12">
    <h2 class="h1 text-center">Impact across California</h2>
    <div class="row justify-content-center pt-3 pt-3 pt-lg-5 mt-lg-1 pb-4 mb-lg-3">
      <div class="col-11 mb-4 mb-lg-0 col-lg-3 px-4 text-center background-yellow-4 clipped-home-stat-1">
        <p class="fs-stats pt-3 mt-3 mt-lg-5">68%</p>
        <p class="fs-4 fw-bold lh-sm px-3">
          Increase in reduced-fare transactions<sup id="fnref:1" role="doc-noteref"
            ><a class="link-body-emphasis text-decoration-none" href="#fn:1" rel="footnote">1</a></sup
          >
        </p>
        <a class="pb-3 mb-3 mb-lg-5 fw-normal link-body-emphasis d-inline-block" href="/customer-stories#stories-benefits-MST"
          >Learn how Monterey-Salinas Transit increased ridership.</a
        >
      </div>
      <div class="col-11 mb-4 mt-2 mt-lg-0 mb-lg-0 col-lg-3 px-4 offset-lg-1 text-center background-yellow-4 clipped-home-stat-2">
        <p class="fs-stats pt-3 mt-3 mt-lg-5">229,988</p>
        <p class="fs-4 fw-bold lh-sm px-3">
          Trips using a contactless credit/debit card<sup id="fnref:2" role="doc-noteref"
            ><a class="link-body-emphasis text-decoration-none" href="#fn:2" rel="footnote">2</a></sup
          >
        </p>
        <a
          class="pb-3 mb-3 mb-lg-5 fw-normal link-body-emphasis d-inline-block"
          href="/customer-stories#stories-contactless-payments-GCTD"
          >Read how Glenn County is implementing contactless payments.</a
        >
      </div>
      <div
        class="col-11 mb-lg-4 mt-2 mt-lg-0 mb-lg-0 col-lg-3 px-4 offset-lg-1 text-center background-yellow-4 clipped-home-stat-3"
      >
        <p class="fs-stats pt-3 mt-3 mt-lg-5">91%</p>
        <p class="fs-4 fw-bold lh-sm px-3">
          Reduction of expired GTFS Schedule Feeds<sup id="fnref:3" role="doc-noteref"
            ><a class="link-body-emphasis text-decoration-none" href="#fn:3" rel="footnote">3</a></sup
          >
        </p>
        <a class="pb-3 mb-3 mb-lg-5 fw-normal link-body-emphasis d-inline-block" href="/customer-stories#stories-GTFS-VCTC"
          >Learn more about Ventura County’s success with GTFS.</a
        >
      </div>
    </div>
  </div>
</div>

<div class="row d-flex justify-content-center">
  <div class="col-lg-6 mb-3 pb-3" role="doc-endnotes">
    <ol>
      <li class="small text-body-tertiary" id="fn:1" role="doc-endnote">
        <small class="d-block text-body-tertiary"
          >Average month over month increase in reduced-fare transactions for older adults and veterans who used Cal-ITP Benefits
          since online enrollment became available. <a href="#fnref:1" class="reversefootnote" role="doc-backlink">↩</a></small
        >
      </li>
      <li class="small text-body-tertiary" id="fn:2" role="doc-endnote">
        <small class="d-block text-body-tertiary"
          >Year to date, 2024.
          <a
            href="https://dashboards.calitp.org/public/dashboard/7aa4a836-7525-4fe7-b261-1d29ef4cd0bb"
            class="small link-body-emphasis fs-7 fw-normal"
            target="_blank"
            >Cal-ITP Contactless Usage Dashboard</a
          >
          <a href="#fnref:2" class="reversefootnote" role="doc-backlink">↩</a></small
        >
      </li>
      <li class="small text-body-tertiary" id="fn:3" role="doc-endnote">
        <small class="d-block text-body-tertiary"
          >Since 2023.
          <a
            class="small link-body-emphasis fs-7 fw-normal"
            href="https://dashboards.calitp.org/public/dashboard/9dd1758e-59de-479a-877b-c63657dc555d?tab=13-objective-1%3A-improve-up-to-dateness-of-schedule-service"
            target="_blank"
            >Transit Data Quality Dashboard</a
          >
          <a href="#fnref:3" class="reversefootnote" role="doc-backlink">↩</a></small
        >
      </li>
    </ol>
  </div>
</div>
