<link rel="apple-touch-icon" href="images/icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<!-- Place favicon.ico in the root directory -->

<link rel="preconnect" href="https://fonts.gstatic.com" />
<link rel="stylesheet" href="{{site.google_fonts}}" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap-reboot.min.css"
  integrity="sha512-9izl9EqZBFXWjB6tx1F+4u2Sk2NZ5b9Sod4n1Gmc/7UYaX3lTWJFLcTq1/sDtcT8F1czVHe+4a99zpRVVZie3Q=="
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="stylesheets/main.css" />

<meta name="theme-color" content="{{site.theme_color}}" />
