# this directory has files with custom formatting we don't want prettier to revert
docs/

# this file has custom formatting we don't want prettier to revert
src/stylesheets/dsdl/tokens.css.liquid

# TODO: figure out how to uncomment this safely
mkdocs.yml
