/*
 * Cal-ITP Digital Services Design Language
 * Core Styles
 */


body {
  color: var(--dsdl-body-color);
  font-family: var(--dsdl-font-stack);
  line-height: var(--line-height-normal);
}

.text-body-s {
  font-size: var(--text-xs);
  line-height: var(--line-height-loose);
  font-weight: 400;
}
.text-body-m {
  font-size: var(--text-s);
  line-height: var(--line-height-loose);
  font-weight: 400;
}
.text-body-l {
  font-size: var(--text-m);
  line-height: var(--line-height-normal);
  font-weight: 400;
}

.text-subtitle-s,
h6 {
  font-size: var(--text-m);
  line-height: var(--line-height-normal);
  font-weight: 500;
}
.text-subtitle-m,
h4 {
  font-size: var(--text-l);
  line-height: var(--line-height-normal);
  font-weight: 500;
}
.text-subtitle-l {
  font-size: var(--text-xl);
  line-height: var(--line-height-tight);
  font-weight: 500;
}

.text-title-s,
h5 {
  font-size: var(--text-m);
  line-height: var(--line-height-normal);
  font-weight: 600;
}
.text-title-m,
h3 {
  font-size: var(--text-xl);
  line-height: var(--line-height-tight);
  font-weight: 600;
}
.text-title-l {
  font-size: var(--text-xxl);
  line-height: var(--line-height-tight);
  font-weight: 600;
}

.text-headline-s {
  font-size: var(--text-xl);
  line-height: var(--line-height-tight);
  font-weight: 700;
}
.text-headline-m,
h2 {
  font-size: var(--text-xxl);
  line-height: var(--line-height-tight);
  font-weight: 700;
}
.text-headline-l,
h1 {
  font-size: var(--text-xxxl);
  line-height: var(--line-height-tight);
  font-weight: 700;
}

.text-display {
  font-size: var(--text-display);
  line-height: var(--line-height-extra-tight);
  font-weight: 600;
}
.text-smallcaps {
  font-size: var(--text-xs);
  line-height: var(--line-height-loose);
  font-weight: 400;
  text-transform: uppercase;
}
.text-caption {
  font-size: var(--text-xs);
  line-height: var(--line-height-loose);
  font-weight: 400;
}
.text-footnote {
  font-size: var(--text-xxs);
  line-height: var(--line-height-loose);
  font-weight: 400;
}
.text-code {
  font-family: var(--monospace-font-stack);
  font-size: var(--text-m);
  line-height: var(--line-height-loose);
  font-weight: 400;
}

a {
  color: var(--dsdl-blue-70);
}
a:hover,
a:focus {
  color: var(--dsdl-blue-80);
}

code,
pre {
  font-family: var(--dsdl-monospace-font-stack);
}
