---
# Empty front matter to enable Liquid processing
---

/*
 * Cal-ITP Digital Services Design Language
 * Design Tokens
 */


/* TYPOGRAPHY */

/* Import webfonts */
/* Space Grotesk: Variable weight, 400–700 */
/* Source Code Pro: 400 only */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400..600;1,400..600&family=Source+Code+Pro&family=Space+Grotesk:wght@400..700&display=swap');

:root {
  /* Fonts */
  --dsdl-heading-font-stack: 'Space Grotesk', system-ui;
  --dsdl-body-font-stack: 'Noto Sans', system-ui;
  --dsdl-monospace-font-stack: 'Source Code Pro', 'Cascadia Code', Menlo, Consolas, 'DejaVu Sans Mono', monospace;

  /* Size */
  --text-base:    16;
  --text-xxs:     calc(10 / var(--text-base) * 1rem);
  --text-xs:      calc(12 / var(--text-base) * 1rem);
  --text-s:       calc(14 / var(--text-base) * 1rem);
  --text-m:       calc(16 / var(--text-base) * 1rem);
  --text-l:       calc(20 / var(--text-base) * 1rem);
  --text-xl:      calc(24 / var(--text-base) * 1rem);
  --text-xxl:     calc(32 / var(--text-base) * 1rem);
  --text-xxxl:    calc(40 / var(--text-base) * 1rem);
  --text-display: calc(64 / var(--text-base) * 1rem);

  /* Line height */
  --line-height-extra-tight: 1.125;
  --line-height-tight:       1.25;
  --line-height-normal:      1.5;
  --line-height-loose:       1.625;

  /* Colors */
  --dsdl-body-color: var(--dsdl-gray-100);
}


/* COLORS */

:root {
  {% for color in site.data.dsdl_colors -%}
  --dsdl-{{ color.group }}-{{ color.level }}: {{ color.value }};
  {% endfor %}

  --calitp-brand-blue:   var(--dsdl-blue-70);    /* #045b86 */
  --calitp-brand-cyan:   var(--dsdl-cyan-40);    /* #38abd0 */
  --calitp-brand-yellow: var(--dsdl-yellow-30);  /* #febd28 */

  --dsdl-black:          var(--dsdl-slate-100);  /* #121416 */
}


/* SPACING */

:root {
  --spacing-base: calc(8 / var(--text-base) * 1rem);  /* 8px → 0.5rem */
  --spacing-05:   calc(var(--spacing-base) * 0.5);  /* 0.25rem (4px)   */
  --spacing-1:    calc(var(--spacing-base) * 1  );  /* 0.5rem  (8px)   */
  --spacing-2:    calc(var(--spacing-base) * 2  );  /* 1rem    (16px)  */
  --spacing-2-05: calc(var(--spacing-base) * 2.5);  /* 1.25rem (20px)  */
  --spacing-3:    calc(var(--spacing-base) * 3  );  /* 1.5rem  (24px)  */
  --spacing-4:    calc(var(--spacing-base) * 4  );  /* 2rem    (32px)  */
  --spacing-5:    calc(var(--spacing-base) * 5  );  /* 2.5rem  (40px)  */
  --spacing-6:    calc(var(--spacing-base) * 6  );  /* 3rem    (48px)  */
  --spacing-7:    calc(var(--spacing-base) * 7  );  /* 3.5rem  (56px)  */
  --spacing-8:    calc(var(--spacing-base) * 8  );  /* 4rem    (64px)  */
  --spacing-9:    calc(var(--spacing-base) * 9  );  /* 4.5rem  (72px)  */
  --spacing-10:   calc(var(--spacing-base) * 10 );  /* 5rem    (80px)  */
  --spacing-15:   calc(var(--spacing-base) * 15 );  /* 7.5rem  (120px) */
  --spacing-20:   calc(var(--spacing-base) * 20 );  /* 10rem   (160px) */
}
