---
layout: default
---

{% if page.external %}
  {% include script_redirect.html location=page.external %}
{% endif %}

{% capture date %}
{% include date.html date=page.date format = "%B %e, %Y, " %}
{% endcapture %}

{% assign location = page.location | default: "Sacramento, CA" %}

{% unless page.external %}
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-8">
      <article class="press-release pb-5 mb-5">
        <a class="d-block text-decoration-none mb-2 pt-3 mt-5 text-primary-blue"
           href="/press">Press</a>
        <h1 class="h2">{{ page.heading }}</h1>
        {% if page.lead %}<p>{{ page.lead }}</p>{% endif %}
        <hr />
        <p class="d-block pb-2 text-uppercase fw-semibold">For immediate release</p>
        <p>{{ date | append: location | append: "—" | append: page.intro }}</p>
        {{ page.content }}
      </article>
    </div>
  </div>
{% endunless %}
