.clipped-initiative,
.clipped-header,
.clipped-contact-start,
.clipped-contact-end,
.clipped-stat-start,
.clipped-stat-end,
.clipped-stories-contact,
.clipped-stories-impact,
.clipped-home-stat-1,
.clipped-home-stat-2,
.clipped-home-stat-3 {
  -webkit-clip-path: none;
  clip-path: none;
  border-radius: 1.25rem;
}

.clipped-contact-start,
.clipped-contact-end,
.clipped-stat-start,
.clipped-stat-end,
.clipped-home-stat-1,
.clipped-home-stat-2,
.clipped-home-stat-3 {
  min-height: 100%;
}

@media (min-width: 992px) {
  .clipped-initiative,
  .clipped-header,
  .clipped-contact-start,
  .clipped-contact-end,
  .clipped-stat-start,
  .clipped-stat-end,
  .clipped-stories-contact,
  .clipped-stories-impact,
  .clipped-home-stat-1,
  .clipped-home-stat-2,
  .clipped-home-stat-3 {
    border-radius: 0;
  }

  .clipped-initiative {
    -webkit-clip-path: url(#path-initiative);
    clip-path: url(#path-initiative);
  }

  .clipped-header {
    -webkit-clip-path: url(#path-header);
    clip-path: url(#path-header);
  }

  .clipped-contact-start {
    -webkit-clip-path: url(#path-contact-start);
    clip-path: url(#path-contact-start);
  }

  .clipped-contact-end {
    -webkit-clip-path: url(#path-contact-end);
    clip-path: url(#path-contact-end);
  }

  .clipped-stat-start {
    -webkit-clip-path: url(#path-stat-start);
    clip-path: url(#path-stat-start);
  }

  .clipped-stat-end {
    -webkit-clip-path: url(#path-stat-end);
    clip-path: url(#path-stat-end);
  }

  .clipped-stories-contact {
    -webkit-clip-path: url(#path-stories-contact);
    clip-path: url(#path-stories-contact);
  }

  .clipped-stories-impact {
    -webkit-clip-path: url(#path-stories-impact);
    clip-path: url(#path-stories-impact);
  }

  .clipped-home-stat-1 {
    -webkit-clip-path: url(#path-home-stat-1);
    clip-path: url(#path-home-stat-1);
  }

  .clipped-home-stat-2 {
    -webkit-clip-path: url(#path-home-stat-2);
    clip-path: url(#path-home-stat-2);
  }

  .clipped-home-stat-3 {
    -webkit-clip-path: url(#path-home-stat-3);
    clip-path: url(#path-home-stat-3);
  }
}
