/* DSDL demo page */

.dsdl-demo h2,
.dsdl-demo h3,
.dsdl-demo h4 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.brand-colors h4 {
  margin-top: 0;
}

.brand-colors,
.dsdl-colors {
  display: flex;
}
.brand-colors,
.dsdl-colors ol {
  list-style: none;
  padding: 0;
}
.brand-colors li,
.dsdl-colors ol {
  margin: 0 0.5rem 0 0;
  flex: 1 1 auto;
}
.brand-colors li:last-child,
.dsdl-colors ol:last-child {
  margin-right: 0
}
.brand-colors li {
  padding: 2rem;
  text-align: center;
}
.dsdl-colors li {
  padding: 1rem;
  text-align: center;
}

.dsdl-core-type-matrix th,
.dsdl-core-type-matrix td {
  padding: 0.5rem;
  border: 1px solid var(--dsdl-gray-20);
}
.dsdl-core-type-matrix th {
  background: var(--calitp-brand-blue);
  color: white;
}
.dsdl-core-type-matrix thead th {
  text-align: center;
}
.dsdl-core-type-matrix td {
  vertical-align: top;
}

.dsdl-type-specs {
  display: grid;
  grid-template-columns: auto 1fr;
}
.dsdl-type-specs dd {
  margin: 0 0 0 0.5rem;
}
.dsdl-extra-type-styles {
  list-style: none;
  padding: 0;
}
