.hero-header {
  max-width: 441px;
}

.rainbow-list ol {
  list-style: none;
  counter-reset: numList;
}

.rainbow-list ol li:before {
  counter-increment: numList;
  content: counter(numList);
  text-align: center;
  color: var(--bs-white);
  line-height: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex-shrink: 0;
}

.rainbow-list ol li:nth-child(1):before {
  background: var(--calitp-primary-blue);
}

.rainbow-list ol li:nth-child(2):before {
  background: var(--calitp-orange-5);
}

.rainbow-list ol li:nth-child(3):before {
  background: var(--calitp-red-5);
}

.rainbow-list ol li:nth-child(4):before {
  background: var(--calitp-purple-4);
}

/* Initiatives */

.scroll-link {
  scroll-margin-top: 240px;
}

.tab-list .press-item:nth-child(n + 4),
.tab-list .resource:nth-child(n + 4) {
  display: none;
}
