:root {
  --bs-font-sans-serif: "Poppins", system-ui, -apple-system, "Segoe UI", "Roboto", "Helvetica Neue", "Noto Sans",
    "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --calitp-headline-sans-serif: "Raleway", system-ui, -apple-system, "Segoe UI", "Roboto", "Helvetica Neue", "Noto Sans",
    "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  --bs-body-color: rgb(33, 33, 33); /* #212121 */
  --calitp-primary-blue: rgb(4, 107, 153); /* #046b99 */
  --calitp-cyan-1: rgb(213, 238, 245); /* #d5eef5 */
  --calitp-green-4: rgb(0, 117, 91); /* #00755b */
  --calitp-green-5: rgb(0, 73, 57); /* #004939 */
  --calitp-orange-5: rgb(178, 86, 0); /* #b25600 */
  --calitp-purple-4: rgb(82, 76, 143); /* #524c8f */
  --calitp-purple-5: rgb(41, 34, 120); /* #292278 */
  --calitp-red-4: rgb(192, 63, 77); /* #c03f4d */
  --calitp-red-5: rgb(160, 46, 59); /* #a02e3b */
  --calitp-slate-5: rgb(36, 61, 81); /* #243d51 */
}

.background-slate-5 {
  background-color: var(--calitp-slate-5);
}

h1,
h2,
h3,
h4 {
  font-family: var(--calitp-headline-sans-serif);
}

h1 {
  font-weight: 700;
  margin-bottom: 19px;
}

h3 {
  font-size: 24px;
}

h4,
.h4 {
  font-weight: 700;
  line-height: 140%;
}

p,
a,
li {
  font-size: 16px;
  line-height: 140%;
}

main.container {
  padding-top: 110px;
}

.navbar {
  --bs-navbar-padding-y: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
}

.navbar-nav {
  --bs-nav-link-color: var(--bs-body-color);
}

picture.railway img {
  width: 100%;
  margin: 7.25rem 0;
}

footer {
  background-color: var(--bs-body-color);
}

footer nav {
  padding: 7.5px 0;
}

footer nav .links a {
  color: var(--bs-white);
  text-decoration: none;
}

footer nav ul {
  margin-bottom: initial;
  padding-left: initial;
}

footer nav {
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  align-items: center;
}

footer nav .links {
  list-style: none;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, max-content);
  grid-gap: 5em;
}

p.important {
  font-size: 24px;
  margin-bottom: 50px;
}

#triforce {
  width: 100%;
}

#deck {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 0.85fr 1fr;
  grid-gap: 3em;
  line-height: 1.1;
  align-items: center;
  justify-items: center;
  padding-top: 88px;
  padding-bottom: 50px;
}

.big {
  font-size: 24px;
}

#details {
  margin-top: 50px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr;
}

.box {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 15px;
}

#details .box {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  width: 100%;
  max-width: 1200px;
}

#details .box .callout {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr max-content;
  grid-gap: 3em;
  justify-content: center;
  justify-items: center;
  padding: 3em;
  margin-left: auto;
  margin-right: auto;
}

.box p,
.box h3,
.box a,
.box li {
  color: var(--bs-white);
}

#details #enabling-contactless-payment {
  background-image: url("../images/section-1-bg.svg");
}
#details #automating-customer-discounts {
  background-image: url("../images/section-2-bg.svg");
  margin-bottom: 1.25rem;
}
#details #standardizing-trip-quality {
  background-image: url("../images/section-3-bg.svg");
}

.red-link {
  background-color: var(--calitp-red-5);
  color: var(--bs-white);
}
.blue-link {
  background-color: var(--calitp-primary-blue);
  color: var(--bs-white);
}
.green-link {
  background-color: var(--calitp-green-5);
  color: var(--bs-white);
}

.red-link:focus,
.red-link:hover,
.blue-link:focus,
.blue-link:hover,
.green-link:focus,
.green-link:hover {
  color: var(--bs-white);
  text-decoration-style: dotted;
}

#facts ol {
  list-style: none;
  counter-reset: numList;
  gap: 20px;
}

#facts ol li {
  font-weight: 700;
  gap: 12px;
}

#facts ol li:before {
  counter-increment: numList;
  content: counter(numList);
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: var(--bs-white);
  line-height: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex-shrink: 0;
}

#facts ol li:nth-child(1):before {
  background: var(--calitp-primary-blue);
}

#facts ol li:nth-child(2):before {
  background: var(--calitp-orange-5);
}

#facts ol li:nth-child(3):before {
  background: var(--calitp-red-5);
}

#facts ol li:nth-child(4):before {
  background: var(--calitp-purple-4);
}

#reachout {
  padding-top: 80px;
}

<<<<<<< HEAD #lastminute #connect {
  background-color: #c64e5a;
  background-image: initial;
}
#lastminute #update {
  background-color: #c8700b;
  background-image: initial;
}

/* #lastminute {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: min-content min-content;
  grid-gap: 2em;
  justify-content: center;
  margin-top: 5em;
  margin-bottom: 5em;
}

#lastminute .box {
  width: 400px;
  height: 400px;
  display: grid;
  justify-content: center;
  align-items: center;
}

#lastminute ul {
  padding-left: 1rem;
}
#lastminute .box picture {
  justify-self: center;
  align-self: center;
}
#lastminute .box p {
  margin-bottom: 0;
}
#lastminute .box picture img {
  width: 80px;
}

#lastminute .box .blob {
  width: 260px;
  display: grid;
  grid-template-rows: 130px min-content auto;
  height: 350px;
}

#lastminute #update.box .blob {
  padding-left: 15px;
} */

=======>>>>>>>38a8be3 (refactor(home): create bg-slate class, use for sections) .right-callout {
  max-width: 700px;
}

#triforce {
  max-width: 450px;
}

.callout picture {
  text-align: right;
}

#about h2 {
  margin-top: 50px;
}

@media (max-width: 1024px) {
  #deck {
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr;
    grid-gap: initial;
    justify-items: center;
    text-align: center;
  }
  #details {
    justify-items: center;
    grid-template-rows: repeat(3, min-content);
    grid-gap: 2em;
  }
  #details .box {
    width: 100%;
  }
  .right-callout {
    max-width: 500px;
  }
  .callout picture img {
    width: 100px;
  }
  #details #enabling-contactless-payment {
    background-color: var(--calitp-red-4);
    background-image: initial;
  }
  #details #automating-customer-discounts {
    background-color: var(--calitp-primary-blue);
    background-image: initial;
    margin-bottom: 0;
  }
  #details #standardizing-trip-quality {
    background-color: var(--calitp-purple-4);
    background-image: initial;
  }
}

@media (max-width: 768px) {
  picture.railway img {
    width: 100%;
    margin: 4.5rem 0;
  }

  footer nav {
    display: grid;
    grid-template-rows: 1fr min-content;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  footer nav {
    grid-template-columns: 1fr;
    justify-items: left;
  }
  footer nav .links {
    grid-template-columns: repeat(2, max-content);
    grid-gap: 1em;
  }
  #details .box .callout {
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 540px) {
  footer nav {
    grid-template-columns: 1fr;
    justify-items: left;
  }
  footer nav .links {
    grid-template-columns: repeat(2, max-content);
    grid-column: initial;
    grid-gap: initial;
    grid-gap: 1em;
  }
  #details {
    margin-left: 5vw;
    margin-right: 5vw;
  }
  #details .box {
    width: 100%;
  }
}

@media (min-width: 1441px) {
  #details {
    justify-items: center;
  }
}

@media (min-width: 1024px) {
  #reachout {
    padding-top: 100px;
  }
}

@media (min-width: 992px) {
  .navbar {
    --bs-navbar-nav-link-padding-x: 40px;
    --bs-navbar-nav-link-padding-y: 0;
  }

  .navbar-brand {
    --bs-navbar-brand-padding-x: 32px;
    --bs-navbar-brand-padding-y: 32px;
  }

  .navbar-nav {
    --bs-nav-link-color: var(--bs-body-color);
    --bs-navbar-nav-link-padding-y: 0;
    --bs-nav-link-padding-y: 0;
  }
}

@media (max-width: 992px) {
  .navbar-brand {
    --bs-navbar-brand-padding-x: 32px;
    --bs-navbar-brand-padding-y: 32px;
  }

  #mainNav {
    position: absolute;
    width: 100%;
    left: 0;
    top: 110px;
    background: var(--bs-white);
  }

  .navbar-nav .nav-link {
    padding: 23.8px 0 28.8px 12px;
    border-bottom: 1px solid var(--calitp-cyan-1);
  }

  .navbar-nav {
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .navbar-nav {
    max-width: 720px;
  }
}

@media (min-width: 576px) and (max-width: 765px) {
  .navbar-nav {
    max-width: 540px;
  }
}
