:root {
  --bs-font-sans-serif: "Poppins", system-ui, -apple-system, "Segoe UI", "Roboto", "Helvetica Neue", "Noto Sans",
    "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --calitp-headline-sans-serif: "Raleway", system-ui, -apple-system, "Segoe UI", "Roboto", "Helvetica Neue", "Noto Sans",
    "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-border-radius: 20px;
  --bs-border-style: dashed;
}

body {
  --bs-body-color: rgb(33, 33, 33); /* #212121 */
  --calitp-primary-blue: rgb(4, 107, 153); /* #046b99 */
  --calitp-cyan-1: rgb(213, 238, 245); /* #d5eef5 */
  --calitp-green-4: rgb(0, 117, 91); /* #00755b */
  --calitp-green-5: rgb(0, 73, 57); /* #004939 */
  --calitp-orange-5: rgb(178, 86, 0); /* #b25600 */
  --calitp-purple-4: rgb(82, 76, 143); /* #524c8f */
  --calitp-purple-5: rgb(41, 34, 120); /* #292278 */
  --calitp-red-4: rgb(192, 63, 77); /* #c03f4d */
  --calitp-red-5: rgb(160, 46, 59); /* #a02e3b */
  --calitp-slate-5: rgb(36, 61, 81); /* #243d51 */
}

.background-slate-5 {
  background-color: var(--calitp-slate-5);
}

.btn {
  --bs-btn-border-width: 2px;
}

h1,
h2,
h3,
h4 {
  font-family: var(--calitp-headline-sans-serif);
}

h1 {
  font-weight: 700;
  margin-bottom: 19px;
}

h3 {
  font-size: 24px;
}

h4,
.h4 {
  font-weight: 700;
  line-height: 140%;
}

p,
a,
li {
  font-size: 16px;
  line-height: 140%;
}

.small-caps {
  text-transform: uppercase;
  line-height: 140%;
  letter-spacing: 0.025em;
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  font-family: var(--bs-font-sans-serif);
  border: 1.5px solid var(--bs-white);
  background-color: rgba(33, 33, 33, 0.2);
}

main.container {
  padding-top: 110px;
}

.navbar {
  --bs-navbar-padding-y: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
}

.navbar-nav {
  --bs-nav-link-color: var(--bs-body-color);
}

picture.railway img {
  width: 100%;
  margin: 7.25rem 0;
}

footer {
  background-color: var(--bs-body-color);
}

footer nav {
  padding: 7.5px 0;
}

footer nav .links a {
  color: var(--bs-white);
  text-decoration: none;
}

footer nav ul {
  margin-bottom: initial;
  padding-left: initial;
}

footer nav {
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  align-items: center;
}

footer nav .links {
  list-style: none;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, max-content);
  grid-gap: 5em;
}

p.important {
  font-size: 24px;
  margin-bottom: 50px;
}

#triforce {
  width: 100%;
}

#deck {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 0.85fr 1fr;
  grid-gap: 3em;
  line-height: 1.1;
  align-items: center;
  justify-items: center;
  padding-top: 88px;
  padding-bottom: 50px;
}

.big {
  font-size: 24px;
}

.box {
  border-radius: 15px;
}

.box p,
.box h3,
.box a,
.box li {
  color: var(--bs-white);
}

#details .tab-content .tab-list article:nth-child(n + 3) {
  display: none;
}

.red-link {
  background-color: var(--calitp-red-5);
  color: var(--bs-white);
}
.blue-link {
  background-color: var(--calitp-primary-blue);
  color: var(--bs-white);
}
.green-link {
  background-color: var(--calitp-green-5);
  color: var(--bs-white);
}

.red-link:focus,
.red-link:hover,
.blue-link:focus,
.blue-link:hover,
.green-link:focus,
.green-link:hover {
  color: var(--bs-white);
  text-decoration-style: dotted;
}

#facts ol {
  list-style: none;
  counter-reset: numList;
  gap: 20px;
}

#facts ol li {
  font-weight: 700;
  gap: 12px;
}

#facts ol li:before {
  counter-increment: numList;
  content: counter(numList);
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: var(--bs-white);
  line-height: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex-shrink: 0;
}

#facts ol li:nth-child(1):before {
  background: var(--calitp-primary-blue);
}

#facts ol li:nth-child(2):before {
  background: var(--calitp-orange-5);
}

#facts ol li:nth-child(3):before {
  background: var(--calitp-red-5);
}

#facts ol li:nth-child(4):before {
  background: var(--calitp-purple-4);
}

.nav-pills {
  --bs-nav-pills-border-radius: 19px;
  --bs-nav-pills-link-active-color: var(--bs-white);
  --bs-nav-pills-link-active-bg: var(--bs-body-color);
}

.nav-pills .nav-link {
  padding: 0.23rem;
  border: 2px solid var(--bs-body-color);
  color: var(--bs-body-color);
}

.nav-pills {
  --bs-nav-pills-border-radius: 19px;
  --bs-nav-pills-link-active-color: var(--bs-white);
  --bs-nav-pills-link-active-bg: var(--bs-body-color);
}

.nav-pills .nav-link {
  padding: 0.23rem;
  border: 2px solid var(--bs-body-color);
  color: var(--bs-body-color);
}

.right-callout {
  max-width: 700px;
}

#triforce {
  max-width: 450px;
}

#about h2 {
  margin-top: 50px;
}

@media (max-width: 1024px) {
  #deck {
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr;
    grid-gap: initial;
    justify-items: center;
    text-align: center;
  }
}

@media (max-width: 768px) {
  picture.railway img {
    width: 100%;
    margin: 4.5rem 0;
  }

  footer nav {
    display: grid;
    grid-template-rows: 1fr min-content;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  footer nav {
    grid-template-columns: 1fr;
    justify-items: left;
  }
  footer nav .links {
    grid-template-columns: repeat(2, max-content);
    grid-gap: 1em;
  }
}

@media (max-width: 540px) {
  footer nav {
    grid-template-columns: 1fr;
    justify-items: left;
  }
  footer nav .links {
    grid-template-columns: repeat(2, max-content);
    grid-column: initial;
    grid-gap: initial;
    grid-gap: 1em;
  }
  .blob {
    padding: 1em;
  }
}

@media (min-width: 992px) {
  .navbar {
    --bs-navbar-nav-link-padding-x: 40px;
    --bs-navbar-nav-link-padding-y: 0;
  }

  .navbar-brand {
    --bs-navbar-brand-padding-x: 32px;
    --bs-navbar-brand-padding-y: 32px;
  }

  .navbar-nav {
    --bs-nav-link-color: var(--bs-body-color);
    --bs-navbar-nav-link-padding-y: 0;
    --bs-nav-link-padding-y: 0;
  }
}

@media (max-width: 992px) {
  .navbar-brand {
    --bs-navbar-brand-padding-x: 32px;
    --bs-navbar-brand-padding-y: 32px;
  }

  #mainNav {
    position: absolute;
    width: 100%;
    left: 0;
    top: 110px;
    background: var(--bs-white);
  }

  .navbar-nav .nav-link {
    padding: 23.8px 0 28.8px 12px;
    border-bottom: 1px solid var(--calitp-cyan-1);
  }

  .navbar-nav {
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .navbar-nav {
    max-width: 720px;
  }
}

@media (min-width: 576px) and (max-width: 765px) {
  .navbar-nav {
    max-width: 540px;
  }
}
