.nav-pills {
  --bs-nav-pills-border-radius: 19px;
}

.nav-pills .nav-link {
  padding: 4px 8px;
  border-width: 2px;
  border-style: solid;
}

.black-on-white .nav-pills {
  --bs-nav-pills-link-active-color: white;
  --bs-nav-pills-link-active-bg: var(--dsdl-body-color);
}

.black-on-white .nav-pills .nav-link {
  border-color: var(--dsdl-body-color);
}

.black-on-white .nav-pills .nav-link:not(.active) {
  color: var(--dsdl-body-color);
}

.black-on-white .nav-pills .nav-link:hover {
  border-color: rgb(38  38  38 / 0.8);  /* dsdl-gray-80 at 80% opacity */
}

.white-on-color .nav-pills {
  --bs-nav-pills-link-active-color: var(--dsdl-body-color);
  --bs-nav-pills-link-active-bg: white;
}

.white-on-color .nav-pills .nav-link {
  border-color: white;
}

.white-on-color .nav-pills .nav-link:not(.active) {
  color: white;
}

.white-on-color .nav-pills .nav-link:hover {
  border-color: rgb(255 255 255 / 0.8);
}
