.nav-pills {
  --bs-nav-pills-border-radius: 19px;
}

.nav-pills .nav-link {
  padding: 4px 8px;
  border-width: 2px;
  border-style: solid;
}

.black-on-white .nav-pills {
  --bs-nav-pills-link-active-color: var(--bs-white);
  --bs-nav-pills-link-active-bg: var(--bs-body-color);
}

.black-on-white .nav-pills .nav-link {
  border-color: var(--bs-body-color);
}

.black-on-white .nav-pills .nav-link:not(.active) {
  color: var(--bs-body-color);
}

.black-on-white .nav-pills .nav-link:hover {
  border-color: rgba(33, 33, 33, 0.8);
}

.white-on-color .nav-pills {
  --bs-nav-pills-link-active-color: var(--bs-body-color);
  --bs-nav-pills-link-active-bg: var(--bs-white);
}

.white-on-color .nav-pills .nav-link {
  border-color: var(--bs-white);
}

.white-on-color .nav-pills .nav-link:not(.active) {
  color: var(--bs-white);
}

.white-on-color .nav-pills .nav-link:hover {
  border-color: rgba(var(--bs-white-rgb), 0.8);
}
