.nav-pills {
  --bs-nav-pills-border-radius: 19px;
}

.nav-pills .nav-link {
  padding: 4px 8px;
  border-width: 2px;
  border-style: solid;
}

.black-on-white .nav-pills {
  --bs-nav-pills-link-active-color: var(--bs-white);
  --bs-nav-pills-link-active-bg: var(--dsdl-body-color);
}

.black-on-white .nav-pills .nav-link {
  border-color: var(--dsdl-body-color);
}

.black-on-white .nav-pills .nav-link:not(.active) {
  color: var(--dsdl-body-color);
}

.black-on-white .nav-pills .nav-link:hover {
  border-color: rgba(38, 38, 38, 0.8);  /* gray 80 at 80% opacity */
}

.white-on-color .nav-pills {
  --bs-nav-pills-link-active-color: var(--dsdl-body-color);
  --bs-nav-pills-link-active-bg: var(--bs-white);
}

.white-on-color .nav-pills .nav-link {
  border-color: var(--bs-white);
}

.white-on-color .nav-pills .nav-link:not(.active) {
  color: var(--bs-white);
}

.white-on-color .nav-pills .nav-link:hover {
  border-color: rgba(var(--bs-white-rgb), 0.8);
}
