@media print {
  main.container {
    padding-top: 1rem !important;
  }

  .col-lg-8 {
    width: 100% !important;
  }

  .press-release p,
  .press-release a {
    font-size: 0.875rem !important;
  }
}
