:root {
  --bs-font-sans-serif: "Poppins", system-ui, -apple-system, "Segoe UI", "Roboto", "Helvetica Neue", "Noto Sans",
    "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --calitp-headline-sans-serif: "Raleway", system-ui, -apple-system, "Segoe UI", "Roboto", "Helvetica Neue", "Noto Sans",
    "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-border-radius: 20px;
  --bs-border-style: dashed;
  --bs-body-line-height: 1.4;
  --header-nav-height: 110px;
  --footer-nav-height: 39px;
}

body {
  --bs-primary: #045b86;
  --bs-primary-rgb: 4, 91, 134;
  --bs-body-color: rgb(33, 33, 33); /* #212121 */
  --bs-dark-rgb: 33, 33, 33; /* #212121 */
  --bs-emphasis-color-rgb: rgb(33, 33, 33); /* #212121 */
  --bs-link-color: rgb(4, 91, 134); /* #045B86, calitp-primary-blue */
  --bs-link-color-rgb: 4, 91, 134; /* #045B86, calitp-primary-blue */
  --bs-link-hover-color: rgb(4, 72, 105); /* #044869, calitp-primary-dark-blue */
  --bs-link-hover-color-rgb: 4, 72, 105; /* #044869, calitp-primary-dark-blue */
  --bs-secondary-rgb: 143, 147, 153; /* calitp-gray-3 */
  --bs-tertiary-color: rgb(96, 101, 107); /* calitp-scales-gray-4 */
  --calitp-primary-blue: rgb(4, 91, 134); /* #045B86 */
  --calitp-primary-dark-blue: rgb(4, 72, 105); /* #044869, , calitp-primary-dark-blue */
  --calitp-background-blue: rgb(245, 249, 251); /* #F5F9FB */
  --calitp-background-light-blue: rgb(223, 242, 242); /* #DFF2F2 */
  --calitp-cyan-1: rgb(213, 238, 245); /* #d5eef5 */
  --calitp-gray-2: rgb(200, 200, 201); /* #C8C8C9 */
  --calitp-green-4: rgb(0, 117, 91); /* #00755b */
  --calitp-green-5: rgb(0, 73, 57); /* #004939 */
  --calitp-orange-5: rgb(178, 86, 0); /* #b25600 */
  --calitp-purple-4: rgb(82, 76, 143); /* #524c8f */
  --calitp-purple-5: rgb(41, 34, 120); /* #292278 */
  --calitp-red-4: rgb(192, 63, 77); /* #c03f4d */
  --calitp-red-5: rgb(160, 46, 59); /* #a02e3b */
  --calitp-yellow-4: rgb(253, 183, 20); /* #FDB714 */
  --calitp-font-weight-bold: 700;
}
