article {
  margin-inline-start: auto;
  margin-inline-end: auto;
  width: 80vw;
}
h1, h2, h3, h4 {
  font-family: 'Raleway', sans-serif;
  color: #323A45;
}

h1 {
  font-size: 48.83px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

p, a, li {
  font-family: 'Poppins', sans-serif;
  color: #323A45;
}

picture.railway img {
  width: 100%;
  margin-block-start: 4em;
  margin-block-end: 4em;
}

header {
  padding-block-start: 20px;
  background-color: white;
  width: 100vw;
}

footer {
  background-color: #323A45;
  width: 100vw;
}
footer nav .links a {
  color: white;
}

header nav, footer nav {
  margin-inline-start: auto;
  margin-inline-end: auto;
  width: 80vw;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1.75fr 0.25fr;
}

header nav .links, footer nav .links {
  list-style: none;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, max-content);
  grid-gap: 5em;
}

p.important {
  font-size: 24px;
  margin-block-end: 50px;
}

.links a {
  color: #323A45;
  font-size: 18px;
}

#triforce {
  width: 100%;
}

#deck {
  display:grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1.75fr 1fr;
  grid-gap: 3em;
  line-height: 1.1;
  align-items: center;
}

.big {
  font-size: 24px;
}

#details {
  margin-block-start: 50px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr;
}

.box {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#details .box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1100px;
}


#details .box .callout {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr max-content;
    grid-gap: 3em;
    justify-content: center;
    justify-items: center;
    padding: 3em;
}

.box p, .box h3, .box a, .box li {
  color: white;
}


#details #enabling-contactless-payment {
  background-image: url('../images/section-1-bg.svg');
}
#details #automating-customer-discounts {
  background-image: url('../images/section-2-bg.svg');
}
#details #standardizing-trip-quality {
  background-image: url('../images/section-3-bg.svg');
}

.red-link {
  background-color: #DB5461;
  color: white;
}
.blue-link {
  background-color: #046B99;
  color: white;
}
.green-link {
  background-color: #00775D;
  color: white;
}
.purple-link {
  background-color: #4C387A;
  color: white;
}
.gold-link {
  background-color: #C8700A;
  color: white;
}

.constricted {
  width: 50vw;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

#funfacts #facts {
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: 1fr;
  grid-gap: 2em;
}

#funfacts #facts picture {
  text-align: center;
  margin-block-start: 1.5em;
}

#funfacts picture img {
  width: 100%;
}

#about {
  padding-top: 80px;
}
#funfacts {
  padding-top: 80px;
}
#reachout {
  padding-top: 80px;
}

#lastminute {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: min-content min-content;
  grid-gap: 2em;
  justify-content: center;
  margin-block-start: 5em;
  margin-block-end: 5em;
}

#lastminute #connect {
  background-image: url('../images/connect-bg.svg');
}
#lastminute #update {
  background-image: url('../images/update-bg.svg');
}

#lastminute .box {
  width: 375px;
  padding: 1em;
  display: flex;
  justify-content: center;
}

#lastminute h3 {
  font-size: 25px;
}

#lastminute .box picture {
  display: flex;
  justify-content: center;
}

#lastminute .box picture img {
  width: 80px;
}

.blob {
  padding: 2.5em;
}

.right-callout {
  max-width: 700px;
}

#triforce {
  max-width: 450px;
}

.callout picture {
  text-align: right;
}

#about h2 {
  margin-block-start: 50px;
}

@media (max-width: 1024px) {
  #deck {
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr;
    grid-gap: initial;
    justify-items: center;
    text-align: center;
  }
  #details {
    justify-items: center;
    grid-template-rows: repeat(3, min-content);
    grid-gap: 2em;
  }
  #details .box {
    width: 100%;
    border-radius: 35px;
  }
  .right-callout {
    max-width: 500px;
  }
  .callout picture img {
    width: 100px;
  }
  #lastminute {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    grid-gap: 2em;
    justify-items: center;
    margin-block-start: 5em;
    margin-block-end: 5em;
  }
  #details #enabling-contactless-payment {
    background-color: #C64E5A;
  }
  #details #automating-customer-discounts {
    background-color: #046B99;
  }
  #details #standardizing-trip-quality {
    background-color: #5B559C;
  }
}

@media (max-width: 768px) {
  #details .box .callout {
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr;
  }
  /* #details .box {
    width: 610px;
  } */
  /* .right-callout {
    max-width: 350px;
  } */
  /* #details #enabling-contactless-payment {
    background-image: url('../images/section-1-bg-tablet.svg');
  }
  #details #automating-customer-discounts {
    background-image: url('../images/section-2-bg-tablet.svg');
  }
  #details #standardizing-trip-quality {
    background-image: url('../images/section-3-bg-tablet.svg');
  } */
}
@media (max-width: 320px) {
  article {
    margin-inline-start: initial;
    margin-inline-end: initial;
    width: 100vw;
  }
}
@media (min-width: 1441px) {
  #details {
    justify-items: center;
  }
}
@media (min-width: 1025px) {
  header {
    position: fixed;
    top: 0;
  }
  article {
    margin-block-start: 140px;
  }
}
