---
title: Home
layout: default
---

<section class="row">
  <div class="col-12 col-lg-5 d-flex align-items-center">
    <div class="ms-lg-4">
      <h1 class="text-center text-lg-start pt-5">A modern and consistent transportation experience throughout California</h1>
      <p class="text-center text-lg-start">
        Learn how the California Integrated Travel Project (Cal-ITP) is making riding by bus and train simpler and more
        cost-effective—for providers and customers.
      </p>
    </div>
  </div>

  <div class="col-12 offset-lg-1 col-lg-5 d-flex align-items-center justify-content-center">
    <picture>
      <img
        class="hero-header w-100 mx-auto mt-lg-5 pt-lg-4 pb-lg-0 py-3 pb-4"
        src="images/hero-header.png"
        alt="A trio of images, clockwise from top: a bus, a train platform with a sign that announces “Next train in 3 minutes,” and a transit rider paying their fare by tapping their smartphone’s mobile wallet on a payment reader when boarding"
      />
    </picture>
  </div>
</section>

<picture class="d-none d-md-block">
  <img
    id="tracks-0"
    class="w-100"
    src="images/home-divider-1.png"
    alt="Decorative element with dots and dashes, meant to resemble a transit map"
  />
</picture>
<picture class="d-md-none">
  <img
    id="tracks-0-sm mt-4 pt-2 mb-5"
    class="w-100"
    src="images/home-divider-1-sm.png"
    alt="Decorative element with dots and dashes, meant to resemble a transit map"
  />
</picture>

<section id="about" class="row justify-content-center pb-md-3 mb-md-3 pb-4 mb-3">
  <div class="col-12 col-md-8 col-lg-6">
    <h2 class="text-center text-md-start mt-4 pt-2 mt-lg-5 pt-lg-3 mb-4">
      Bringing industry standards to California’s transit providers
    </h2>
    <p>
      There are hundreds of public transit providers in California—with no consistent way to collect fares, verify eligibility for
      fare discounts, or provide real-time vehicle information to customers on their phones.
    </p>
    <p>
      The lack of a consistent experience creates barriers for new customers, complicates travel across different systems, and
      increases expenses for individual providers.
    </p>
    <p>
      Supported by the
      <a rel="noreferrer" target="_blank" class="fw-bold" href="https://calsta.ca.gov/">California State Transportation Agency</a>
      (CalSTA) and the
      <a rel="noreferrer" target="_blank" class="fw-bold" href="https://dot.ca.gov/">California Department of Transportation</a>
      (Caltrans) through a grant from the
      <a
        rel="noreferrer"
        target="_blank"
        class="fw-bold"
        href="https://calsta.ca.gov/subject-areas/transit-intercity-rail-capital-prog"
        >California Transit and Intercity Rail Capital Program</a
      >
      (<abbr>TIRCP</abbr>), the California Integrated Travel Project (Cal-ITP) is a statewide solution to make travel simpler and
      cost-effective for everyone.
    </p>
    <p>
      We are proud to work collaboratively with a number of <a href="/partners">partner agencies</a> within the state of
      California to help us reach our goals.
    </p>
    <div class="d-flex justify-content-center align-items-center gap-1 gap-lg-5">
      <img alt="California Department of Technology" class="min-w-0" src="/images/home-logo-cdt.png" />
      <img alt="California Air Resources Board" class="min-w-0" src="/images/home-logo-carb.png" />
      <img alt="California State Transportation Agency" class="min-w-0" src="/images/home-logo-calsta.png" />
    </div>
  </div>
</section>

<section id="funfacts" class="row justify-content-center">
  <div class="col-12 col-md-8 col-lg-6">
    <h2 class="text-center text-md-start mb-4">Helping California achieve critical goals through transportation</h2>
    <p class="mb-4">
      By aligning transportation payment infrastructure with a 21st-century retail experience, Cal-ITP achieves four goals:
    </p>

    <div id="facts" class="rainbow-list">
      <ol class="d-flex flex-column gap-3 ps-0">
        <li class="fw-bolder gap-3 d-flex align-items-md-center align-items-top">
          invites travelers toward more efficient and sustainable modes of travel,
        </li>
        <li class="fw-bolder gap-3 d-flex align-items-md-center align-items-top">
          reduces operating costs for transit agencies,
        </li>
        <li class="fw-bolder gap-3 d-flex align-items-md-center align-items-top">simplifies every traveler’s life, and</li>
        <li class="fw-bolder gap-3 d-flex align-items-md-center align-items-top">
          simultaneously welcomes every single person in this country to a seamless, user-friendly system—making paying for a
          transit ride just as easy as buying coffee.
        </li>
      </ol>
    </div>
  </div>
</section>

<picture class="d-none d-md-block">
  <img
    class="w-100 my-md-5 py-md-5"
    id="tracks-1"
    src="images/home-divider-2.png"
    alt="Decorative element with dots and dashes, meant to resemble a transit map"
  />
</picture>
<picture class="d-md-none">
  <img
    class="w-100 mt-4 pt-2 mb-5"
    id="tracks-0-sm"
    src="images/home-divider-2-sm.png"
    alt="Decorative element with dots and dashes, meant to resemble a transit map"
  />
</picture>

<section id="initiatives">{% include initiatives.html %}</section>

<picture class="d-none d-md-block">
  <img
    id="tracks-2"
    class="w-100 mb-3"
    src="images/home-divider-3.png"
    alt="Another decorative element with dots and dashes, meant to resemble a transit map"
  />
</picture>
<picture class="d-md-none">
  <img
    class="w-100 mt-3 mb-4 pb-2"
    id="tracks-2-sm"
    src="images/home-divider-3-sm.png"
    alt="Another decorative element with dots and dashes, meant to resemble a transit map"
  />
</picture>

<section id="stats">{% include home-stats.html %}</section>

<picture class="d-none d-md-block">
  <img
    id="tracks-2"
    class="w-100"
    src="images/home-divider-4.png"
    alt="Another decorative element with dots and dashes, meant to resemble a transit map"
  />
</picture>
<picture class="d-md-none">
  <img
    class="w-100 mb-5"
    id="tracks-2-sm"
    src="images/home-divider-4-sm.png"
    alt="Another decorative element with dots and dashes, meant to resemble a transit map"
  />
</picture>

{% include contact.html %}
