---
layout: default
permalink: /partners
title: Partners
---

{% include clipped-header.html %}

<div class="row justify-content-center">
  <div class="clipped-header background-purple-4 col-11 col-md-10 mt-4 mt-md-5 mb-4 py-4 py-md-5 px-4 px-md-0">
    <div class="offset-md-2 col-md-8 pt-3 pb-1 pt-md-5 pb-md-3 px-2 px-md-2">
      <h1 class="text-white mb-3">Partners</h1>
      <p class="text-white mb-3">
        Bringing a modern and consistent transportation experience to all Californians requires help from a broad range of experts. That’s why Cal-ITP is proud to work collaboratively with our partners.
      </p>
    </div>
  </div>
</div>

<div class="position-absolute">
  <svg class="svg">
    <clipPath id="path-stat-start" clipPathUnits="objectBoundingBox">
      <path
        d="M0.001,0.907 C-0.001,0.947,0.028,0.98,0.063,0.981 L0.935,1 C0.971,1,1,0.971,1,0.93 L0.982,0.116 C0.981,0.079,0.954,0.048,0.921,0.047 L0.094,0.003 C0.058,0.002,0.028,0.032,0.026,0.072 L0.001,0.907"
      ></path>
    </clipPath>
  </svg>
  <svg class="svg">
    <clipPath id="path-stat-end" clipPathUnits="objectBoundingBox">
      <path
        d="M0.001,0.098 C-0.001,0.058,0.028,0.025,0.064,0.024 L0.935,0.002 C0.971,0.001,1,0.034,1,0.075 L0.982,0.889 C0.981,0.926,0.954,0.957,0.92,0.958 L0.094,1 C0.058,1,0.028,0.972,0.026,0.932 L0.001,0.098"
      ></path>
    </clipPath>
  </svg>
</div>

<section class="row justify-content-center">
  <div class="col-md-10 col-11 px-0 mx-0">
    <div class="offset-md-2 col-md-8 mt-md-4 mt-2">
      <section class="pb-md-2">
        <img role="presentation" class="w-100 h-150 rounded-1" alt="" src="/images/partners-background-cdt.png" />
        <h2 class="my-md-4 my-3">California Department of Technology</h2>
        <p>
          We collaborate with the
          <a class="link-body-emphasis fw-normal" href="https://cdt.ca.gov/" target="_blank"
            >California Department of Technology</a
          >
          (CDT) to provide transit riders with a seamless way to qualify for and enroll in transit benefits online.
        </p>
        <figure class="quote border-purple-4 my-md-4 my-3">
          <blockquote>
            “The Cal-ITP project offered us a test-case to deliver dependable and equitable public services, and reduce outdated
            paper-based processes.”
          </blockquote>
          <figcaption>- Greg Fair, California Digital Identity Chief and Acting Chief Product Officer at CDT</figcaption>
        </figure>
        <p class="mb-0">Together, we aim to:</p>
        <ul>
          <li>
            Expand
            <a target="_blank" class="link-body-emphasis fw-normal" href="https://benefits.calitp.org/">Cal-ITP Benefits</a>, our
            web application that uses Login.gov and the
            <a
              href="https://digitalidstrategy.cdt.ca.gov/primary-elements.html"
              target="_blank"
              class="link-body-emphasis fw-normal"
              >California Identity Gateway</a
            >
            to safely and securely provide digital eligibility checks for transit benefits.
            <ul>
              <li>Transit riders who are older adults and U.S. Veterans can use the service today.</li>
              <li>
                Support eligibility checks for CalFresh cardholders, Medicare cardholders, and people with disabilities in the
                coming year.
              </li>
            </ul>
          </li>
          <li>Promote the use of a Digital ID system that can be used across state departments. </li>
          <li>
            Demonstrate how we can deliver dependable and equitable public services while reducing the need for outdated
            paper-based processes. 
          </li>
        </ul>
        <div class="row justify-content-md-center align-content-stretch my-md-4 my-3">
          <div class="col-12 col-md-12 col-lg-6">
            <div class="background-purple-4 py-4 py-md-5 my-md-2 px-3 text-center clipped-stat-start">
              <h2 class="fs-stats text-white pt-4 pt-md-3">68%</h1>
              <h3 class="text-white d-block mb-3 mb-md-0">Increase in reduced-fare transactions<sup id="fnref:1" role="doc-noteref"><a class="text-decoration-none text-white" href="#fn:1" rel="footnote">1</a></sup></h3>
            </div>
          </div>
          <div class="d-lg-none lh-1">&nbsp;</div>
          <div class="col-12 col-md-12 col-lg-6">
            <div class="background-purple-4 py-4 py-md-5 my-md-2 px-3 text-center clipped-stat-end">
              <h2 class="fs-stats text-white pt-4 pt-md-3">870</h1>
              <h3 class="text-white d-block mb-3 mb-md-0">Number of reduced-fare transactions enabled by the CA Identity Gateway</h3>
            </div>
          </div>
        </div>
        <p>
          For more information, visit CDT’s page on the primary elements of the
          <a
            href="https://digitalidstrategy.cdt.ca.gov/primary-elements.html"
            target="_blank"
            class="link-body-emphasis fw-normal"
            >Digital ID Framework</a
          >.
        </p>
        <div class="footnotes no-title" role="doc-endnotes">
          <ol class="small text-body-tertiary ps-2">
            <li id="fn:1" role="doc-endnote" class="small text-body-tertiary">
              <small class="text-body-tertiary">Average month over month increase in reduced-fare transactions for older adults and veterans who used Cal-ITP Benefits since online enrollment became available.</small>
              <a href="#fnref:1" class="reversefootnote" role="doc-backlink">↩</a>
            </li>
          </ol>
        </div>
      </section>

      <hr class="my-4 d-none d-lg-block" />

      <section class="pt-4">
        <img  role="presentation" class="w-100 h-150 rounded-1" alt="" src="/images/partners-background-carb.png" />
        <h2 class="my-3 my-md-4">California Air Resources Board</h2>
        <figure class="quote border-purple-4 my-3 my-md-4-4">
          <blockquote>“In order to unlock the greenhouse gas reductions and mobility justice opportunities that transit provides, we have to make it easier for people to use California’s buses and trains. Cal-ITP tackles basic but essential challenges that transit users face so that more Californians can make the switch to sustainable transportation options.”</blockquote>
          <figcaption>- Lisa Macumber, Chief of CARB’s Equitable Mobility Incentives branch</figcaption>
        </figure>
        <p class="mb-0">
          The
          <a target="_blank" class="link-body-emphasis fw-normal" href="https://ww2.arb.ca.gov/"
            >California Air Resources Board</a
          >
          (CARB) helps us improve the distribution of transportation benefits for state agencies and recipients in California.
          Together, we aim to:
        </p>
        <ul>
          <li>Promote sustainable transit options.</li>
          <li>
            Identify payment issuance approaches to make electric vehicle charging and other mobility options more easily accessible for individuals who have low incomes, or who are unbanked or underbanked.
          </li>
          <li>Close the gap between those who are eligible for mobility benefits and those who receive them.</li>
          <li>
            Explore the application of
            <a
              target="_blank"
              class="link-body-emphasis fw-normal"
              href="https://www.calitp.org/assets/CARB.Mobility.Loyalty.and.Rewards.Market.Sounding.Background.pdf"
              >rewards and loyalty programs in transit</a
            >.
          </li>
        </ul>
        <div class="row justify-content-md-center align-content-stretch my-3 my-md-4 mb-2">
          <div class="col-12 col-md-12 col-lg-6">
            <div class="background-purple-4 py-4 py-md-5 my-md-2 px-3 text-center clipped-stat-start">
              <h2 class="fs-stats text-white pt-4 pt-md-3">2035</h1>
              <h3 class="text-white d-block mb-3 mb-md-0">By 2035, all new cars & light trucks sold in CA must be zero emission</h3>
            </div>
          </div>
          <div class="d-lg-none lh-1">&nbsp;</div>
          <div class="col-12 col-md-12 col-lg-6">
            <div class="background-purple-4 py-4 py-md-5 my-md-2 px-3 text-center clipped-stat-start">
              <h2 class="fs-stats text-white pt-4 pt-md-3">89%</h1>
              <h3 class="text-white d-block mb-3 mb-md-0">of main industry players use contactless payment cards<sup id="fnref:2" role="doc-noteref"><a class="text-white text-decoration-none" href="#fn:2" rel="footnote">2</a></sup></h3>
            </div>
          </div>
        </div>
        <p class="mt-3 mt-md-4 pb-2">
          Cal-ITP’s collaboration with CARB is part of  <a
          target="_blank"
          class="link-body-emphasis fw-normal"
          href="https://www.caclimateinvestments.ca.gov/"
          >California Climate Investments</a
        >, a statewide initiative that puts billions of Cap-and-Trade dollars to work reducing greenhouse gas emissions, strengthening the economy, and improving public health and the environment — particularly in disadvantaged communities.
        </p>
        <p>
          For more information on this and other mobility initiatives, please visit
          <a target="_blank" class="link-body-emphasis fw-normal" href="https://ww2.arb.ca.gov/">CARB</a>. You can view more about
          our work with public and private sector partners in our
          <a
            target="_blank"
            class="link-body-emphasis fw-normal"
            href="https://resources.calitp.org/calitp/Cal-ITP.2023.AccomplishmentsReport.pdf"
            >2023 Accomplishments Report</a
          >.
        </p>
        <div class="footnotes no-title" role="doc-endnotes">
          <ol class="small text-body-tertiary ps-2" start="2">
            <li id="fn:2" role="doc-endnote" class="small text-body-tertiary">
              <small class="text-body-tertiary">Reported in CARB’s <a
              target="_blank"
              class="small link-body-emphasis fs-7 fw-normal"
              href="https://ww2.arb.ca.gov/sites/default/files/2024-06/CARB%20cEMV%20Penetration%20Report%20ADAReview_1.pdf"
              >contactless EMV</a> report.</small>
              <a href="#fnref:2" class="reversefootnote" role="doc-backlink">↩</a>
            </li>
          </ol>
        </div>
      </section>

      <hr class="py-2 my-4" />
    </div>
  </div>
</section>

{% include contact.html %}
