---
layout: default
permalink: /partners
title: Partners
---

{% include clipped-header.html %} {% include clipped-stats.html %}

<div class="row justify-content-center">
  <div class="clipped background-purple-4 col-11 col-md-10 mt-4 mt-md-5 mb-4 py-4 py-md-5 px-4 px-md-0">
    <div class="offset-md-2 col-md-8 py-3 py-md-5 px-2 px-md-2">
      <h1 class="text-white mb-3">Partners</h1>
      <p class="text-white mb-3">
        Bringing a modern and consistent transportation experience to all Californians requires help from a broad range of
        experts. That's why Cal-ITP is proud to work collaboratively with our partners.
      </p>
    </div>
  </div>
</div>

<section class="row justify-content-center">
  <div class="col-10">
    <div class="offset-md-2 col-md-8 mt-4">
      <section class="pb-2">
        <img class="w-100 rounded-1" src="/images/partners-cdt-background.png" />
        <h2 class="my-2">California Department of Technology</h2>
        <p>
          We collaborate with the
          <a class="link-dark fw-normal" href="https://cdt.ca.gov/" target="_blank">California Department of Technology</a> (CDT)
          to provide transit riders with a seamless way to qualify for and enroll in transit benefits online.
        </p>
        <figure class="quote my-4">
          <blockquote>
            “The Cal-ITP project offered us a test-case to deliver dependable and equitable public services, and reduce outdated
            paper-based processes.”
          </blockquote>
          <figcaption>- Greg Fair, California Digital Identity Chief and Acting Chief Product Officer at CDT</figcaption>
        </figure>
        <p class="mb-0">Together, we aim to:</p>
        <ul>
          <li>
            Expand <a target="_blank" class="link-dark fw-normal" href="https://benefits.calitp.org/">Cal-ITP Benefits</a>, our
            web application that uses Login.gov and the
            <a href="https://digitalidstrategy.cdt.ca.gov/primary-elements.html" target="_blank" class="link-dark fw-normal"
              >California Identity Gateway</a
            >
            to safely and securely provide digital eligibility checks for transit benefits.
            <ul>
              <li>Transit riders who are older adults and U.S. Veterans can use the service today.</li>
              <li>
                Support eligibility checks for CalFresh cardholders, Medicare cardholders, and people with disabilities in the
                coming year.
              </li>
            </ul>
          </li>
          <li>Promote the use of a Digital ID system that can be used across state departments. </li>
          <li>
            Demonstrate how we can deliver dependable and equitable public services while reducing the need for outdated
            paper-based processes. 
          </li>
        </ul>
        <div class="row justify-content-md-center align-content-stretch my-4">
          <div class="col-12 col-md-12 col-lg-6">
            <div class="background-purple-4 pt-3 pt-md-5 px-3 text-center clipped-stat-start">
              <h1 style="font-size: 64px" class="text-white">8.6%</h1>
              <h3 class="text-white d-block my-4">Increase in reduced-fare transactions</h3>
            </div>
          </div>
          <div class="d-lg-none">&nbsp;</div>
          <div class="col-12 col-md-12 col-lg-6">
            <div class="background-purple-4 pt-3 pt-md-5 px-md-5 px-3 pt-2 text-center clipped-stat-end">
              <h1 style="font-size: 64px" class="text-white">2630</h1>
              <h3 class="text-white d-block my-4">Total reduced-fare open loop transactions</h3>
            </div>
          </div>
        </div>
        <p>
          For more information, visit CDT’s page on the primary elements of a
          <a href="https://digitalidstrategy.cdt.ca.gov/primary-elements.html" target="_blank" class="link-dark fw-normal"
            >Digital ID Framework</a
          >.
        </p>
      </section>

      <hr class="my-4" />

      <section class="pt-4">
        <img class="w-100 rounded-1" src="/images/partners-carb-background.png" />
        <h2 class="my-2">California Air Resources Board</h2>
        <figure class="quote my-4">
          <blockquote>“CARB QUOTE TK TK TK.”</blockquote>
          <figcaption>- Name TK, Title at CARB</figcaption>
        </figure>
        <p class="mb-0">
          The
          <a target="_blank" class="link-dark fw-normal" href="https://ww2.arb.ca.gov/">California Air Resources Board</a> (CARB)
          helps us improve the distribution of transportation benefits for state agencies and recipients in California. Together,
          we aim to:
        </p>
        <ul>
          <li>Promote sustainable transit options</li>
          <li>
            Identify payment issuance approaches to make electric vehicle charging and other mobility options more easily
            accessible for individuals who have low incomes, or who are unbanked or underbanked
          </li>
          <li>Close the gap between those who are eligible for mobility benefits and those who receive them</li>
          <li>
            Explore the application of
            <a
              target="_blank"
              class="link-dark fw-normal"
              href="https://www.calitp.org/assets/CARB.Mobility.Loyalty.and.Rewards.Market.Sounding.Background.pdf"
              >rewards and loyalty programs in transit</a
            >
          </li>
        </ul>
        <div class="row justify-content-md-center align-content-stretch my-4">
          <div class="col-12 col-md-12 col-lg-6">
            <div class="background-purple-4 pt-3 pt-md-5 px-3 text-center clipped-stat-start-2">
              <h1 style="font-size: 64px" class="text-white">2035</h1>
              <h3 class="text-white d-block my-4">By 2035, all new cars & light trucks sold in CA must be zero-emission</h3>
            </div>
          </div>
          <div class="d-lg-none">&nbsp;</div>
          <div class="col-12 col-md-12 col-lg-6">
            <div class="background-purple-4 pt-3 pt-md-5 px-md-5 px-3 pt-2 text-center clipped-stat-end-2">
              <h1 style="font-size: 64px" class="text-white">89%</h1>
              <h3 class="text-white d-block my-4">of main industry players use contactless payment cards</h3>
            </div>
          </div>
        </div>
        <small
          >1. Reported in CARB’s
          <a
            target="_blank"
            class="link-dark fw-normal"
            href="https://ww2.arb.ca.gov/sites/default/files/2024-06/CARB%20cEMV%20Penetration%20Report%20ADAReview_1.pdf"
            >contactless EMV</a
          >
          report.
        </small>
        <p class="my-4 pb-2">
          For more information on this and other mobility initiatives, please visit
          <a target="_blank" class="link-dark fw-normal" href="https://ww2.arb.ca.gov/">CARB</a>. You can view more about our work
          with public and private sector partners in our
          <a
            target="_blank"
            class="link-dark fw-normal"
            href="https://resources.calitp.org/calitp/Cal-ITP.2023.AccomplishmentsReport.pdf"
            >2023 Accomplishments Report</a
          >.
        </p>
      </section>

      <hr class="py-2 my-4" />
    </div>
  </div>
</section>

{% include contact.html %}
