---
layout: default
---

{% comment %} needs to go in head element {% endcomment %}
<noscript>
  <style>
    .hide-if-noscript {
      display: none;
    }
  </style>
</noscript>

<h1>Press</h1>
<ul
  class="nav nav-pills mb-3 gap-2 hide-if-noscript"
  id="pills-tab"
  role="tablist">
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="pills-contactless-tab"
      data-bs-toggle="pill"
      data-bs-target="#pills-contactless"
      type="button"
      role="tab"
      aria-controls="pills-contactless"
      aria-selected="false">Contactless Payments</button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="pills-benefits-tab"
      data-bs-toggle="pill"
      data-bs-target="#pills-benefits"
      type="button"
      role="tab"
      aria-controls="pills-benefits"
      aria-selected="false">Benefits</button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="pills-gtfs-tab"
      data-bs-toggle="pill"
      data-bs-target="#pills-gtfs"
      type="button"
      role="tab"
      aria-controls="pills-gtfs"
      aria-selected="false">GTFS</button>
  </li>
</ul>

<section id="press">
  <div class="tab-content" id="pills-tabContent">
    <div
      class="tab-pane fade active show"
      id="pills-all"
      role="tabpanel"
      tabindex="0">
      {% include press_listing.html tag = "" %}
    </div>
    <div
      class="tab-pane fade"
      id="pills-contactless"
      role="tabpanel"
      aria-labelledby="pills-contactless-tab"
      tabindex="0">
      {% include press_listing.html tag = "Contactless Payments" %}
    </div>
    <div
      class="tab-pane fade"
      id="pills-benefits"
      role="tabpanel"
      aria-labelledby="pills-benefits-tab"
      tabindex="0">
      {% include press_listing.html tag = "Benefits" %}
    </div>
    <div
      class="tab-pane fade"
      id="pills-gtfs"
      role="tabpanel"
      aria-labelledby="pills-gtfs-tab"
      tabindex="0">
      {% include press_listing.html tag = "GTFS" %}
    </div>
  </div>
</section>

<script>
  const pills = document.querySelectorAll("button[data-bs-toggle='pill']");
  pills.forEach(p => {
// mouse-click or Enter key will trigger "click" event and should toggle the pill's state
    p.addEventListener("click", event => toggleSelection(p.id));

// mouse-click, Enter key, or arrow keys will trigger "shown.bs.tab" event and should hide the "all" tab
    p.addEventListener("shown.bs.tab", event => hideAllTab());

// arrow keys will trigger "keyup" event and should set pill to "selected" (no way to deselect using arrow key)
    p.addEventListener("keyup", event => selectByArrowKey(event, p));
  });

  function toggleSelection(id) {
    const pillToToggle = document.querySelector("#" + id);
    if (! pillToToggle.classList.contains("selected")) {
      select(pillToToggle);
    } else {
      pillToToggle.classList.remove("selected");
      pillToToggle.classList.remove("active");
      hideTab(pillToToggle.id);

      showAllTab();
    }
  }

  function select(pill) {
    pill.classList.add("selected");

    const pills = document.querySelectorAll("button[data-bs-toggle='pill']");
    let pillSet = new Set(pills);
    pillSet.delete(pill);
    pillSet.forEach(pill => pill.classList.remove("selected"));
  }

  function hideTab(pillId) {
    const selectedTab = document.querySelector("div[aria-labelledby='" + pillId + "']")
    selectedTab.classList.remove("show");
    selectedTab.classList.remove("active");
  }

  function showAllTab() {
    const allTab = document.querySelector("#pills-all");
    allTab.classList.add("show");
    allTab.classList.add("active");
  }

  function hideAllTab() {
    const allTab = document.querySelector("#pills-all");
    allTab.classList.remove("show");
    allTab.classList.remove("active");
  }

  function selectByArrowKey(event, pill) {
    if (event.keyCode == 37 || event.keyCode == 38 || event.keyCode == 39 || event.keyCode == 40) {
      select(pill);
    }
  }
</script>
