---
layout: default
---

{% comment %} needs to go in head element {% endcomment %}
<noscript>
  <style>
    .hide-if-noscript {
      display: none;
    }
  </style>
</noscript>

<h1>Press</h1>
<ul
  class="nav nav-pills mb-3 gap-2 hide-if-noscript"
  id="pills-tab"
  role="tablist">
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="pills-contactless-tab"
      data-bs-toggle="pill"
      data-bs-target="#pills-contactless"
      type="button"
      role="tab"
      aria-controls="pills-contactless"
      aria-selected="false"
      onclick="deselect('pills-contactless-tab')">Contactless Payments</button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="pills-benefits-tab"
      data-bs-toggle="pill"
      data-bs-target="#pills-benefits"
      type="button"
      role="tab"
      aria-controls="pills-benefits"
      aria-selected="false"
      onclick="deselect('pills-benefits-tab')">Benefits</button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="pills-gtfs-tab"
      data-bs-toggle="pill"
      data-bs-target="#pills-gtfs"
      type="button"
      role="tab"
      aria-controls="pills-gtfs"
      aria-selected="false"
      onclick="deselect('pills-gtfs-tab')">GTFS</button>
  </li>
</ul>

<section id="press">
  <div class="tab-content" id="pills-tabContent">
    <div
      class="tab-pane fade active show"
      id="pills-all"
      role="tabpanel"
      tabindex="0">
      {% include press_listing.html tag = "" %}
    </div>
    <div
      class="tab-pane fade"
      id="pills-contactless"
      role="tabpanel"
      aria-labelledby="pills-contactless-tab"
      tabindex="0">
      {% include press_listing.html tag = "Contactless Payments" %}
    </div>
    <div
      class="tab-pane fade"
      id="pills-benefits"
      role="tabpanel"
      aria-labelledby="pills-benefits-tab"
      tabindex="0">
      {% include press_listing.html tag = "Benefits" %}
    </div>
    <div
      class="tab-pane fade"
      id="pills-gtfs"
      role="tabpanel"
      aria-labelledby="pills-gtfs-tab"
      tabindex="0">
      {% include press_listing.html tag = "GTFS" %}
    </div>
  </div>
</section>

<script>
  function deselect(id) {
    const pills = document.querySelectorAll("button[data-bs-toggle='pill']")
    const allTab = document.querySelector("#pills-all");

    const selectedPill = document.querySelector("#" + id);
    if (! selectedPill.classList.contains("selected")) { /* mark it as selected */
      selectedPill.classList.add("selected");

// hide tab with all articles
      allTab.classList.remove("show");
      allTab.classList.remove("active");
    } else { /* if we've selected a pill that is currently selected, undo selection for it and its tab */
      selectedPill.classList.remove("selected");
      selectedPill.classList.remove("active");

      const selectedTab = document.querySelector("div[aria-labelledby='" + id + "']")
      selectedTab.classList.remove("show");
      selectedTab.classList.remove("active");

// show tab with all articles
      allTab.classList.add("show");
      allTab.classList.add("active");
    }

/* remove "selected" from all other pills */
    let pillSet = new Set(pills);
    pillSet.delete(selectedPill);
    pillSet.forEach(pill => pill.classList.remove("selected"));
  }
</script>
