name: Publish docs
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths:
      - "docs/**"
      - "mkdocs.yml"
      - ".github/workflows/mkdocs.yml"

env:
  SANITIZED_REPO_NAME: "calitp-website"

jobs:
  docs-preview:
    name: Publish docs preview
    runs-on: ubuntu-latest
    # only pull requests should generate a preview
    if: github.event.pull_request
    permissions:
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: "refs/pull/${{ github.event.number }}/merge"

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version-file: .github/workflows/.python-version
          cache: pip
          cache-dependency-path: "docs/requirements.txt"

      - name: Build MkDocs website
        run: |
          pip install -r docs/requirements.txt
          mkdocs build

      # it would speeds this action up significantly to cache this
      - name: Install Netlify CLI
        run: npm install --location=global netlify-cli@23

      - name: Deploy Preview to Netlify
        run: |
          netlify deploy \
            --alias="${SANITIZED_REPO_NAME}-${{ github.event.number }}" \
            --auth=${{ secrets.NETLIFY_AUTH_TOKEN }} \
            --dir="site" \
            --site=${{ secrets.NETLIFY_PREVIEW_APP_SITE_ID }} \
            --no-build \

      - name: Find existing comment
        uses: peter-evans/find-comment@v4
        id: find-comment
        with:
          issue-number: ${{ github.event.number }}
          comment-author: "github-actions[bot]"
          body-includes: "Preview url: https://"

      - name: Add Netlify link PR comment
        uses: actions/github-script@v8
        if: steps.find-comment.outputs.comment-id == ''
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const hostnamePrefix = process.env.SANITIZED_REPO_NAME
            const hostnameSuffix = "cal-itp-previews.netlify.app"

            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: `Preview url: https://${hostnamePrefix}-${{ github.event.number }}--${hostnameSuffix}`,
            })

  docs-publish:
    runs-on: ubuntu-latest
    # don't publish for pull requests
    if: github.event.pull_request == null
    name: Publish docs
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Deploy docs
        uses: mhausenblas/mkdocs-deploy-gh-pages@master
        env:
          REQUIREMENTS: docs/requirements.txt
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
